
@{
    ViewData["Title"] = "News Articles";
    ViewData["Title2"] = "User";
    Layout = "_UsersLayout";
}

<div class="container">
    <div class="card-header">
        <h1> News will appear here</h1>
    </div>
    <br />
</div>
