@model List<Event>
@{
    ViewData["Title"] = "Calendar";
    Layout = "_HomePage";

}
<div class="container">
    <div class="text-center">
        <h1 class="display-4" style="font-weight: bold">
            Event Calendar
        </h1>
        <p>

        </p>
    </div>
    <!--Houses calendar-->
    <div id="calendar"></div>
    <!--Calendar scripts-->
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.1.0/main.min.css' rel='stylesheet' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.1.0/main.min.js'></script>
    <script src="~/js/Calendar.js"></script>
</div>