@{
    ViewData["Title"] = "Home Page";
    Layout = "_HomePage";

}
<div class="text-center">
    <h1 class="display-4">
        Event Calendar
    </h1>
</div>
<div id="calendar"></div>

<link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.1.0/main.min.js' rel='stylesheet' />
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.1.0/main.min.js'></script>

<script src="~/js/Calendar.js"></script>