@{
    ViewData["Title"] = "About Us Page";
    Layout = "_HomePage";

}

<div class="container">
    <h1 style="text-align:center">About Us</h1>
    <p></p>
    <p>
        ABC Animal Rescue is dedicated to bringing change to the world. One step at a time. And you can help us
        make that change! Join our service today, and help bring change to someone who needs it. Someone who deserves it.
        Be the change you want to see.

    </p>
</div>