@{
    ViewData["Title"] = "Home";
    Layout = "_HomePage";

}


<!--PARALLAX EFFECTS. HEIGHT IS THE SIZE OF THE CONTAINER BOX OVERLAYING THE BACKGROUND IMAGE. BG COLOR IS THE BOX COLOR.-->

<div class="container"id="Welcome">
    <h1 class="display-1 text-center" >Welcome</h1>
    <h4>
        ABC Animal Rescue is dedicated to bringing change to the world. One rescue at a time. And you can help us
        make that change! Join us today, and help bring change to an animal who needs it. An animal who deserves it.
        Be the change you want to see.

    </h4>
</div>
<div class="parallax" style="background-color:transparent;"></div>
<div class="container">
    <div class="container">
        <div class="row">
            <div class="col" style="margin:0.25rem;">
                <h2 class="card-header bg-dark text-light">
                    About Us
                </h2>
                <div class="card-body">

                    <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...."</p>
                    <a class="btn btn-primary" style="text-decoration: none;" asp-area="" asp-controller="Home" asp-action="AboutUs">Learn More</a>

                </div>
            </div>

            <div class="col" style="margin: 0.25rem;">
                <h2 class="card-header bg-dark text-light">
                    Calendar Events

                </h2>
                <div class="card-body">
                    <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...."</p>
                    <a class="btn btn-primary" style="text-decoration: none;" asp-area="" asp-controller="Event" asp-action="Calendar">Learn More</a>
                </div>
            </div>

            <div class="col" style="margin: 0.25rem;">
                <h2 class="card-header bg-dark text-light">
                    News
                </h2>
                <div class="card-body">
                    <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...."</p>
                    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="NewsPage">Read More</a>
                </div>
            </div>

            <div class="col" style="margin: 0.25rem;">
                <h2 class="card-header bg-dark text-light">
                    Donate
                </h2>
                <div class="card-body ">
                    <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...."</p>
                    <a class="btn btn-primary" asp-area="" asp-controller="Donate" asp-action="Donate">Donate Here</a>
                </div>
            </div>
        </div>
    </div>
    
</div>
<div class="parallax2"></div>
<div class="bg-white">
    <div class="container">
        <div class="row justify-content-end">
            <a href="#Welcome" class="fas fa-chevron-up text-dark" style="text-decoration-line:none; font-size:2rem"></a>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-auto" style="margin:1rem;">
                <h1>Join Us Today!</h1>
            </div>
        </div>
        <div class="row justify-content-md-center">
            
            <div class="col-auto" style="margin:1rem;">
                <a class="btn btn-primary" style="font-size:2rem; " asp-area="" asp-controller="Account" asp-action="Register">Register</a>
            </div>
        </div>
    </div>
</div>

