
@{
    ViewData["Title"] = "News Page";
    ViewData["Organization"] = "Animal Rescue";
    ViewData["Non-Profit"] = "Non-Paw-Fit";
    Layout = "_HomePage";

}

<div class="container">
    <h1>News Articles</h1>
    <div class="row justify-content-sm-start align-content-lg-center">
        <div class="card w-25" style="margin:0.5rem;">
            <!--Add the News Article Id here (hidden)-->
            <h5 class="card-header">News Header Here</h5>
            <div class="card-body">
                <p>Date Here</p>
                <p>News Information??</p>
            </div>
            <div class="card-footer">News Footer Here</div>
        </div>
    </div>
</div>

