@{
    ViewData["Title"] = "Manage Payments";
    ViewData["Title2"] = "Profile";
    Layout = "_" + ViewContext.RouteData.Values["area"]?.ToString() + "Layout";
}
<div class="container">
    <div class="row">
        <p>Cardholder Name</p>
        <p>Card Number</p>
        <p>Expiration Date</p>
    </div>
    <div class="row">
        <p>Billing name</p>
        <p> 1017 welcome rd, Williamston</p>
        <p>South Carolina 29697</p>
    </div>
</div>
