@{
    ViewData["Title"] = ViewBag.Action + "Committee";
    ViewData["Title2"] = "Admin";
    Layout = "_AdminLayout";
}

<div class="container">
    <div class="container">
        <h1>Committee Name</h1>
        <h4>Committee Date of Creation</h4>
        <h4>Committee Description</h4>
    </div>
    <div class="container">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" hidden>#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Email Address</th>
                    <th scope="col">Hire Date</th>
                    <th scope="col">Position</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th hidden>#</th>
                    <th>First</th>
                    <th>Last</th>
                    <th>Email Address</th>
                    <th>Hire Date</th>
                    <th>Position</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>