@{
    ViewData["Title"] = ViewBag.Action + "Committee";
    Layout = "_AdminLayout";
}

<div class="container">
    <h1>Committee Name</h1>
    <h4>Committee Date of Creation</h4>
    <h4>Committee Description</h4>
</div>