
@{
    ViewData["Title"] = "Board Committees";
    ViewData["Title2"] = "Admin";
    Layout = "_AdminLayout";
}

<div class="container">
    <div class="container">
        <div class="card-header-pills"><h1 class="fas fa-users"> @ViewData["Title"]</h1></div>
    </div>
    <br />

    <div class="container">
        <div class="row justify-content-md-center">
            <!--EVENTS AND PLANNING COMMITTEE-->
            <div class="card w-25">
                <a class="card-header fas fa-comment-dollar btn btn-outline-dark" asp-area="Admin" asp-controller="Committee" asp-action="DetailCommittee" style="font-size: xx-large; border:none"></a>
                <div class="card-body">
                    <h3 class="card-title text-center">Planning Committee</h3>
                    <div style="font-size:small;">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>1</th>
                                    <th>Danny</th>
                                    <th>Short</th>
                                </tr>
                                <tr>
                                    <th>2</th>
                                    <th>Jane</th>
                                    <th>Doe</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--FUNDRAISING COMMITTEE-->
            <div class="card w-50">
                <a class="card-header fas fa-user-edit btn btn-outline-dark" sp-area="Admin" asp-controller="Committee" asp-action="DetailCommittee" style="font-size: xx-large; border:none"></a>
                <div class="card-body">
                    <h3 class="card-title text-center">Fundraising Committee</h3>
                    <div style="font-size:small;">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>1</th>
                                    <th>Joe</th>
                                    <th>Young</th>
                                </tr>
                                <tr>
                                    <th>2</th>
                                    <th>Gambi</th>
                                    <th>White</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--NEWS COMMITTEE-->
            <div class="card w-25">
                <a class="card-header far fa-newspaper btn btn-outline-dark" sp-area="Admin" asp-controller="Committee" asp-action="DetailCommittee" style="font-size: xx-large; border:none"></a>
                <div class="card-body">
                    <h3 class="card-title text-center">News Committee</h3>
                    <div style="font-size:small;">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>1</th>
                                    <th>Tony</th>
                                    <th>Stark</th>
                                </tr>
                                <tr>
                                    <th>2</th>
                                    <th>Bruce</th>
                                    <th>Banner</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
