@{
    ViewData["Title"] = "Dashboard Page";
    Layout = "_AdminLayout";
}

<div class="text-center">
    <p>Dashboard 3</p>
    <p>About Page – editing/updating about info</p>
    <p>Picture Page – adding/updating  pictures.</p>
</div>
