@{
    ViewData["Title"] = "Dashboard Page";
    Layout = "_AdminLayout";
}


<div class="container">
    <div class="card-header-pills"><h1 class="far fas fa-laptop-code"> Editing the Website</h1></div>
    <br />

    <div class="row justify-content-md-start">
        <div class="col-lg-2">
            <button class="btn btn-outline-dark">
                Edit "About Us" Page
            </button>
        </div>
    </div>
    <br />

    <ul class="nav nav-tabs">
        <!--ABOUT TAB -->
        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#about">About Us</a></li>
    </ul>

    <div class="container">
        <div class="tab-content">
            <br />
            <!--ABOUT CONTENTS WILL DISPLAY WHEN THE ABOUT TAB IS SELECTED-->
            <div id="about" class="tab-pane active face">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Date</th>
                            <th scope="col">Information</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <th>05/25/2019</th>
                            <th>Welcome to our website! </th>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
