@{
    ViewData["Title"] = "Dashboard Page";
    Layout = "_AdminLayout";
}

<div class="text-center">
    <p>Dashboard 1</p>
    <p>View list of Employees in table.</p>
    <p>View list of Committees in table</p>
    <p>View list of Users in table</p>
</div>
