@{
    ViewData["Title"] = "Dashboard Page";
    Layout = "_AdminLayout";
}

<div class="text-center">
    <p>Dashboard 2</p>
    <p>View list of Calendar Events.</p>
    <p>View list of Fundraiser Events.</p>
    <p>View list of Committee meetings</p>
</div>
