
/*KEEP THIS IN LAYOUT FOR PARALLAX SCROLLING EFFECT
MIN-HEIGHT PUSHES STARTING HTML LOWER. 750px WAS JUST ENOUGH TO PUSH THE STOCKPHOTOS OFF SCREEN TO START THE EFFECT

*/

.parallax {
    /*The image used*/ background-image: url("../img/Non-Profit.png ");
    /*Set a specific height*/ min-height: 550px;
    /*Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #382C92;
}

.parallax2 {
    /*The image used */ background-image: url("../img/can_you_turn_your_business_into_a_nonprofit.jpg");
    /* Set a specific height */ min-height: 550px;
    /*Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
