@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@TempData["Error"]?.ToString()
<form method="post" asp-action="Backup">
    <button type="submit">Backup application</button>
</form>
<form method="post" asp-action="BackupDatabase">
    <button type="submit">Backup database</button>
</form>
<form method="post" asp-action="EmployeeReport">
    <button type="submit">Generate Employee Report</button>
</form>
<form method="post" asp-action="DonorReport">
    <button type="submit">Generate Donor Report</button>
</form>
<form method="post" asp-action="MemberReport">
    <button type="submit">Generate Member Report</button>
</form>
<form method="post" asp-action="DonationReport">
    <button type="submit">Generate Donation Report</button>
</form>
<form method="post" asp-action="MembershipDuesReport">
    <button type="submit">Generate Membership Dues Report</button>
</form>
<form method="post" asp-action="CommitteeMemberReport">
    <button type="submit">Generate Committee Members Report</button>
</form>
<form method="post" asp-action="FinancialSummaryReport">
    <button type="submit">Generate Financial Summary Report</button>
</form>
<form method="post" asp-action="EventInformationReport">
    <button type="submit">Generate Event Report</button>
</form>