
@{
    ViewData["Title"] = "Checkout";
    ViewData["Title2"] = "Non-Paw-Fit Animal Rescue";
    Layout = "_HomePage";
}

<div class="container" style=" margin-top:5.5rem; ">
    <div class="card-header-pills"><h1 class="text-center">Checkout</h1></div>
    <form>
        <div class="row justify-content-center">
            <div class="card w-50" style="margin:0.5rem 0.5rem;">
                <div class="card-body">
                    <h4>IS ALL YOUR INFORMATION CORRECT?</h4>
                    <h6>Before you place your order, please take a momement to review your billing information and donation summary.</h6>
                    <div class="row justify-content-end" style="margin-right:2rem;">
                        <button class="btn btn-dark ">Place Order</button>
                    </div>
                </div>
            </div>
            <div class="card w-25" style="margin: 0.5rem 0.5rem;">
                <div class="card-header">
                    <h5>SUMMARY</h5>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="card w-50" style="margin: 0.5rem 0.5rem;">
                <div class="card-header bg-dark text-white">
                    <h5>1. BILLING ADDRESS</h5>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group">
                            <p>Address and City</p>
                            <p>State, Postal Code</p>
                            <p>Country</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="card-link">Edit</div>
                </div>
            </div>
            <div class="card w-25" style="margin: 0.5rem 0.5rem;">
                <div class="card-header">
                    <h5>DONATION INFO</h5>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="card w-50" style="margin: 0.5rem 0.5rem;">
                <div class="card-header bg-dark text-white">
                    <h5>2. PAYMENT</h5>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group" style="margin-left:2rem;">
                            <h4>Payment Method</h4>
                            <p>Visa Card</p>
                        </div>
                        <div class="form-group" style="margin-left:5rem;">
                            <h4>Billing Details</h4>
                            <p>Name</p>
                            <p>City, State, Postal Code</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="card-link">Edit</div>
                </div>
            </div>
            <div class="card w-25 border-0" style="margin: 0.5rem 0.5rem;">

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="card w-50" style="margin: 0.5rem 0.5rem;">
                <div class="card-header bg-dark text-white">
                    <h5>3. ORDER REVIEW</h5>
                </div>
                <div class="card-body">
                    <h6>By click the Place Order button, you confirm that you have read and understood, and accept our Terms and Conditions, Return Policy, and Privacy Policy.</h6>
                    <div class="row justify-content-end" style="margin-right:2rem;">
                        <button class="btn btn-dark ">Place Order</button>
                    </div>
                </div>
            </div>
            <div class="card w-25 border-0" style="margin: 0.5rem 0.5rem;">

            </div>
        </div>
    </form>
</div>