@{
    ViewData["Title"] = "Donate";
    Layout = "_HomePage";
}



<div class="container-fluid" style="padding:0 5rem">
    <div class=" container">
        <h4 class="text-center">Please select your donation amount...</h4>
        <div class="row justify-content-center text-center">
            <div class="col-sm-2">
                <div class="card" style="margin:15px 0;">
                    <button class="btn btn-outline-primary example" style="font-size:50px">$50</button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card" style="margin:15px 0;">
                    <button class="btn btn-outline-primary example" style="font-size:50px">$100</button>
                </div>
            </div>
        </div>
        <div class="row justify-content-center text-center">
            <div class="col-sm-2">
                <div class="card" style="margin:15px 0;">
                    <button class="btn btn-outline-primary example" style="font-size:50px">$150</button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card" style="margin:15px 0;">
                    <button class="btn btn-outline-primary example" style="font-size:50px">$500</button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card" style="margin:15px 0;">
                    <button class="btn btn-outline-primary example" style="font-size:50px">$1000</button>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-5">
                    <div class="card">
                        <div class="card card-header">
                            <h3 class="fas fa-hand-holding-usd">  @ViewData["Title"]:  <span class="msg"></span></h3>
                        </div>
                        <div class="card card-body">

                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputFirstName">First Name</label>
                                        <input type="text" class="form-control" id="inputFirstName" placeholder="First Name" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputLastName">Last Name</label>
                                        <input type="text" class="form-control" id="inputLastName" placeholder="Last Name" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <button type="submit" class="btn btn-primary" asp-action="Payment">Checkout</button>
                                        <a class="btn btn-outline-primary" asp-controller="Home" asp-action="Index">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <script>

            console.clear();

            let btns = document.querySelectorAll('.example');

            btns.forEach(function (i) {
                i.addEventListener('click', function () {
                    alert(`You are donating ${i.innerHTML}`);
                    document.querySelector('.msg').innerHTML = i.innerHTML;
                });
            });
        </script>
    </div>
</div>

