@{
    @using Microsoft.AspNetCore.Identity;
    @inject SignInManager<User> signInManager
}
<!--Pictures from:  https://www.pexels.com/ -->
<!--Base Layout for HTML and CSSs-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @ViewData["Title2"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/dashboard.css" />
    <link rel="stylesheet" href="~/css/parallax.css" />
    <link rel="stylesheet" href="~/css/dark-mode.css" />

</head>
<body>

    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/deab61ee00.js" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="dark-mode-switch.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
