@{
    ViewData["Title"] = "Account Disabled";
    Layout = "_HomePage";
}
<div class="container" style=" margin-top: 5.5rem; display: flex; justify-content: center; align-items: center; vertical-align:middle;">
    <div class="text-md-center" style="margin:auto; width:50%;position: absolute; bottom: 40%;">
        <h1 class="fas fa-lock"></h1>
        <h1 class="text-dark">Account Disabled</h1>
        <h3>This account has been disabled until further notice</h3>
        <h3>Contact an administrator to restore account or create a new one</h3>
        <br/>
        <a asp-action="Register" class="btn-lg btn-success">Create New Account</a>
    </div>
</div>