@model NonProfitProject.Models.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
    ViewBag.Title = "Register";

    Layout = "_HomePage";
}


<div class="container">
    <div class="card-header">
        <h1>@ViewData["Title"] Now</h1>
    </div>

    <div class="card-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form method="post" asp-action="Register">
            <div class="form-group row">
                <div class="col-sm-2"><label>Username: </label></div>
                <div class="col-sm-4">
                    <input asp-for="Username" class="form-control" />
                </div>
                <div class="col">
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2"><label>Email Address: </label></div>
                <div class="col-sm-4">
                    <input asp-for="Email" class="form-control" />
                </div>
                <div class="col">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2"><label>Confirm Email Address: </label></div>
                <div class="col-sm-4">
                    <input asp-for="EmailConfirmed" class="form-control" />
                </div>
                <div class="col">
                    <span asp-validation-for="EmailConfirmed" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2"><label>Password: </label></div>
                <div class="col-sm-4">
                    <input id="password" asp-for="Password" class="form-control" />
                </div>
                <div>
                    <input type="checkbox" name="ShowPassword" onchange="document.getElementById('password').type = this.checked ? 'text' : 'password'; document.getElementById('confirmPassword').type = this.checked ? 'text' : 'password'">
                    <label for="ShowPassword"> Show Password</label>
                </div>
                <div class="col">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2"><label>Confirm Password: </label></div>
                <div class="col-sm-4">
                    <input id="confirmPassword" asp-for="PasswordConfirmed" class="form-control" />
                </div>
                <div class="col">
                    <span asp-validation-for="PasswordConfirmed" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2"><label>First Name: </label></div>
                <div class="col-sm-4">
                    <input asp-for="Firstname" class="form-control" />
                </div>
                <div class="col">
                    <span asp-validation-for="Firstname" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2"><label>Last Name: </label></div>
                <div class="col-sm-4">
                    <input asp-for="Lastname" class="form-control" />
                </div>
                <div class="col">
                    <span asp-validation-for="Lastname" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2"><label>Gender: </label></div>
                <div class="col-sm-4">
                    <input asp-for="Gender" class="form-control" />
                </div>
                <div class="col">
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2"><label>Birth Date: </label></div>
                <div class="col-sm-4">
                    <input asp-for="BirthDate" class="form-control" />
                </div>
                <div class="col">
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2"><label>Address 1: </label></div>
                <div class="col-sm-4">
                    <input asp-for="Addr1" class="form-control" />
                </div>
                <div class="col">
                    <span asp-validation-for="Addr1" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2"><label>Address 2: </label></div>
                <div class="col-sm-4">
                    <input asp-for="Addr2" class="form-control" />
                </div>
                <div class="col">
                    <span asp-validation-for="Addr2" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2"><label>City: </label></div>
                <div class="col-sm-4">
                    <input asp-for="City" class="form-control" />
                </div>
                <div class="col">
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2"><label>State: </label></div>
                <div class="col-sm-4">
                    <input asp-for="State" class="form-control" />
                </div>
                <div class="col">
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2"><label>Posal Code: </label></div>
                <div class="col-sm-4">
                    <input asp-for="PostalCode" class="form-control" />
                </div>
                <div class="col">
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2"><label>Country: </label></div>
                <div class="col-sm-4">
                    <input asp-for="Country" class="form-control" />
                </div>
                <div class="col">
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="offset-2 col-sm-4">
                    <button type="submit" class="btn-primary">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>
