@model List<NonProfitProject.Models.ViewModels.CalendarViewModel>
@{
    ViewData["Title"] = "Calendar";
    ViewData["Title2"] = "Non-Paw-Fit Animal Rescue";
    Layout = "_HomePage";

}
<div class="container">
    <div class="text-center">
        <h1 class="display-4" style="font-weight: bold">
            Event Calendar
        </h1>
        <p>

        </p>
    </div>
    <!--Houses calendar-->
    <div id="calendar"></div>
    <!--Calendar scripts-->
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.1.0/main.min.css' rel='stylesheet' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.1.0/main.min.js'></script>
    <script src="~/js/Calendar.js"></script>
    <script type="text/javascript">
        //references for function below: https://stackoverflow.com/questions/16361364/accessing-mvcs-model-property-from-javascript
        window.onload(setCalendar('@Html.Raw(Json.Serialize(Model))'))
    </script>
</div>