@{
    ViewData["Title"] = "Profile";
    Layout = "_AdminLayout";
}

<div class="container">
    <div class="card-header">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="card-body">
        <p>Add form view of profile </p>
    </div>
</div>
