@model NonProfitProject.Areas.Admin.Models.ViewModels.ProfileViewModel
@{
    ViewData["Title"] = "Profile";
    Layout = "_AdminLayout";
}


<div class="container">
    <div class="card-header-pills"><h1 class="fa fa-address-card"> @ViewData["Title"]</h1></div>
    <br />
    <div class="justify-content-center">
        <a class="btn-lg btn-dark text-decoration-none" asp-action="EditLogin">Edit Login Information</a>
    </div>
    <br />
    <form style="font-size:medium">
        <input type="hidden" asp-for="UserID" />
        <div class="form-group row">
            <!--FIRST NAME-->
            <div class="col-sm-2"><label>First Name: </label></div>
            <div class="col-sm-2">
                <input readonly asp-for="FirstName" class="form-control" />
            </div>

            <!--USERNAME-->
            <div class="col-sm-2"><div class="fas fa-user-alt"></div>  <label>Username: </label></div>
            <div class="col-sm-2">
                <input readonly asp-for="Username" class="form-control" />
            </div>

            <!--BIRTHDAY-->
            <div class="col-sm-1"><label>Birthday: </label></div>
            <div class="col-sm-2">
                <input readonly type="date" asp-for="BirthDate" class="form-control" />
            </div>

        </div>

        <div class="form-group row">

            <!--LAST NAME-->
            <div class="col-sm-2"><label>Last Name: </label></div>
            <div class="col-sm-2">
                <input readonly asp-for="LastName" class="form-control" />
            </div>

            <!--EMAIL ADDRESS-->
            <div class="col-sm-2"><div class="fa fa-envelope"></div>  <label>Email Address: </label></div>
            <div class="col-sm-5">
                <input readonly asp-for="Email" class="form-control" />
            </div>
        </div>

        <div class="form-group row">


            <!--STREET ADDRESS-->
            <div class="col-sm-2"><div class="fas fa-home"></div>  <label>Street Address: </label></div>
            <div class="col-sm-3">
                <input readonly asp-for="Addr1" class="form-control" />
            </div>
            

            <!--CITY-->
            <div class="col-sm-1 text-right"><label>City: </label></div>
            <div class="col-sm-2">
                <input readonly asp-for="City" class="form-control" />
            </div>

            <!--STATE-->
            <div class="col-sm-1 text-right"><label>State: </label></div>
            <div class="col-sm-2">
                <input readonly asp-for="State" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <!--POSTAL CODE-->
            <div class="col-sm-2"><label>Postal Code: </label></div>
            <div class="col-sm-2">
                <input readonly asp-for="PostalCode" class="form-control" />
            </div>

            <!--COUNTRY-->
            <div class="col-sm-1"><label>Country: </label></div>
            <div class="col-sm-3">
                <input readonly asp-for="Country" class="form-control" />
            </div>

            <!--GENDER-->
            <div class="col-sm-1"><label>Gender: </label></div>
            <div class="col-sm-2">
                <input readonly asp-for="Gender" class="form-control" />
            </div>

        </div>
    </form>
</div>