@{
    Layout = "_Layout";

    @using Microsoft.AspNetCore.Identity;
    @using Microsoft.AspNetCore.Http;
    var committeeName = Context.Session.GetString("CommitteeName");

}

@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://kit.fontawesome.com/deab61ee00.js" crossorigin="anonymous"></script>
}


<!Doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/dashboard.css" />

</head>
<body>
    <!--TOP NAV FOR EMPLOYEE VIEW-->
    <div class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container">
            <div></div>
            <div class="text-right">
                <form method="post" asp-area="" asp-action="Logout" asp-controller="Account">
                    <button type="submit" class="btn btn-dark">Logout</button>
                </form>
            </div>
        </div>
    </div>
    <!--SIDE NAV FOR EMPLOYEE VIEW-->
    <div class="text-white bg-dark" style="width: 200px; height: 100%; overflow-x: hidden; position: fixed; z-index: 1; top: 0; left: 0; ">
        <ul class="nav nav-pills flex-column list-unstyled">
            <li class="nav-item">
                <a href="#" class="nav-link text-white">
                    <img src="~/img/BankdLogoRev1.png" alt="Bank'd Tech Solutions" width="125" height="35" />
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="Employee" asp-controller="Home" asp-action="Index">Main Dashboard</a>
            </li>

            <li class="dropdown-divider"></li>
            <li class="nav-item">
                <a class="nav-link text-white" asp-area=" " asp-controller="Home" asp-action="Index">Home Website</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="Employee" asp-controller="MyCommittee" asp-action="Index">My Board Committee</a>
            </li>
            @if (committeeName == "News Committee")
            {
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="Employee" asp-controller="News" asp-action="Index">News Articles</a>
                </li>
            }
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="Employee" asp-controller="Event" asp-action="Index">Calendar Events</a>
            </li>
            @if (committeeName == "Fundrasing Committee")
            {
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="Employee" asp-controller="DonationHistory" asp-action="Index">Donation History</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="Employee" asp-controller="MembershipHistory" asp-action="Index">Membership History</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="Employee" asp-controller="DonationHistory" asp-action="Index">My Donations</a>
                </li>
            }

            <li class="nav-item">
                <a class="nav-link text-white" asp-area="Employee" asp-controller="Home" asp-action="Index">Resources</a>
            </li>
            <li class="dropdown-divider"></li>
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="Employee" asp-controller="Profile" asp-action="Index">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="Employee" asp-controller="Membership" asp-action="Index">Membership</a>
            </li>

        </ul>
    </div>

    <div class="main" style="padding: 0 0 5rem 5rem; ">
        @RenderBody()
    </div>

    <footer class="footer text-muted">
        <div class="container text-right">
            &copy; 2021 - BANK'D Tech Solutions - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
</body>
</html>