@model Event
@{
    ViewData["Title"] = "Event Details";
    ViewData["Title2"] = "Admin";
    Layout = "_AdminLayout";
}

<head>
    <script type="text/javascript" src="~/js/UserValidation.js"></script>
</head>
<div class="container">
    <div class="card-header-pills"><h1 class="far fa-calendar-alt"> @ViewData["Title"]</h1></div>
    <div class="row">
        <div class="card w-auto">           
            <div class="card-body">
                <div class="row form-group justify-content-start">
                    <!--EVENT NAME-->
                    <div class="col-auto"><label>Event Name</label></div>
                    <div class="col-12">
                        <input asp-for="EventName" class="form-control" disabled />
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="row justify-content-between">
                    <div class="form-group">
                        <!--START DATE-->
                        <div class="col"><label>Start Date</label></div>
                        <div class="col">
                            <input asp-for="EventStartDate" class="form-control date" disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        <!--END DATE-->
                        <div class="col"><label>End Date</label></div>
                        <div class="col">
                            <input asp-for="EventEndDate" class="form-control date" disabled />
                        </div>
                    </div>
                </div>
                <div class="row form-group justify-content-start">
                    <!--Event Description-->
                    <div class="col"><label>Event Description</label></div>
                    <div class="col-12">
                        <textarea asp-for="EventDescription" class="form-control" rows="5" disabled></textarea>
                    </div>
                </div>
                <h4>Event Address</h4>
                <div class="dropdown-divider"></div>
                <div class="form-group justify-content-start">

                    <div class="row form-group">

                        <!--Event Address 1-->
                        <div class="col-auto"><label>Address 1</label></div>
                        <div class="col-4">
                            <input asp-for="EventAddr1" class="form-control" disabled />
                        </div>

                        <!--Event Address 2-->
                        <div class="col-auto"><label>Address 2</label></div>
                        <div class="col-4">
                            <input asp-for="EventAddr2" class="form-control" disabled />
                        </div>
                    </div>
                </div>
                <div class="form-group justify-content-start">
                    <div class="row form-group">
                        <!--Event City-->
                        <div class="col-auto"><label>City</label></div>
                        <div class="col-3">
                            <input asp-for="EventCity" class="form-control" disabled />
                        </div>

                        <!--Event State-->
                        <div class="col-auto"><label>State</label></div>
                        <div class="col-3">
                            <select asp-for="EventState" class="form-control" disabled>
                                <option></option>
                                <option value="Alaska">Alaska</option>
                                <option value="Alabama">Alabama</option>
                                <option value="Arkansas">Arkansas</option>
                                <option value="Arizona">Arizona</option>
                                <option value="California">California</option>
                                <option value="Colorado">Colorado</option>
                                <option value="Connecticut">Connecticut</option>
                                <option value="District of Columbia">District of Columbia</option>
                                <option value="Delaware">Delaware</option>
                                <option value="Florida">Florida</option>
                                <option value="Georgia">Georgia</option>
                                <option value="Hawaii">Hawaii</option>
                                <option value="Iowa">Iowa</option>
                                <option value="Idaho">Idaho</option>
                                <option value="Illinois">Illinois</option>
                                <option value="Indiana">Indiana</option>
                                <option value="Kansas">Kansas</option>
                                <option value="Kentucky">Kentucky</option>
                                <option value="Louisiana">Louisiana</option>
                                <option value="Massachusetts">Massachusetts</option>
                                <option value="Maryland">Maryland</option>
                                <option value="Maine">Maine</option>
                                <option value="Michigan">Michigan</option>
                                <option value="Michigan">Minnesota</option>
                                <option value="Missouri">Missouri</option>
                                <option value="Mississippi">Mississippi</option>
                                <option value="Montana">Montana</option>
                                <option value="North Carolina">North Carolina</option>
                                <option value="North Dakota">North Dakota</option>
                                <option value="Nebraska">Nebraska</option>
                                <option value="New Hampshire">New Hampshire</option>
                                <option value="New Jersey">New Jersey</option>
                                <option value="New Mexico">New Mexico</option>
                                <option value="Nevada">Nevada</option>
                                <option value="New York">New York</option>
                                <option value="Ohio">Ohio</option>
                                <option value="Oklahoma">Oklahoma</option>
                                <option value="Oregon">Oregon</option>
                                <option value="Pennsylvania">Pennsylvania</option>
                                <option value="Puerto Rico">Puerto Rico</option>
                                <option value="Rhode Island">Rhode Island</option>
                                <option value="South Carolina">South Carolina</option>
                                <option value="South Dakota">South Dakota</option>
                                <option value="Tennessee">Tennessee</option>
                                <option value="Texas">Texas</option>
                                <option value="Utah">Utah</option>
                                <option value="Virginia">Virginia</option>
                                <option value="Vermont">Vermont</option>
                                <option value="Washington">Washington</option>
                                <option value="Wisconsin">Wisconsin</option>
                                <option value="West Virginia">West Virginia</option>
                                <option value="Wyoming">Wyoming</option>
                            </select>
                        </div>

                        <!--Event Address-->
                        <div class="col-auto"><label>Postal Code</label></div>
                        <div class="col-2">
                            <input asp-for="EventPostalCode" type="text" class="form-control" disabled />
                        </div>
                    </div>
                </div>
                <input type="hidden" asp-for="EventID" disabled />
                <a asp-action="EditEvent" class="btn btn-dark" asp-route-id="@Model.EventID">Edit</a>
                <a asp-area="Admin" asp-controller="Event" asp-action="Index" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    </div>
</div>