@model Event
@{
    ViewData["Title"] = ViewBag.Action + " Event";
    Layout = "_AdminLayout";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="card w-75">
            <div class="card-header"><h1>@ViewData["Title"]</h1></div>
            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <form method="post" asp-action="EditEvent">
                    <div class="form-group row">
                        <!--EVENT NAME-->
                        <div class="col-sm-3"><label>Event Name</label></div>
                        <div class="col">
                            <span asp-validation-for="EventName" class="text-danger"></span>
                            <input asp-for="EventName" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <!--START DATE-->
                        <div class="col-sm-3"><label>Start Date</label></div>
                        <div class="col">
                            <span asp-validation-for="EventStartDate" class="text-danger"></span>
                            <input asp-for="EventStartDate" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <!--END DATE-->
                        <div class="col-sm-3"><label>End Date</label></div>
                        <div class="col">
                            <span asp-validation-for="EventEndDate" class="text-danger"></span>
                            <input asp-for="EventEndDate" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <!--EVENT NAME-->
                        <div class="col-sm-3"><label>Event Description</label></div>
                        <div class="col">
                            <span asp-validation-for="EventDescription" class="text-danger"></span>
                            <textarea asp-for="EventDescription" class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                    <input type="hidden" asp-for="EventID" />
                    <button type="submit" class="btn btn-dark">Submit</button>
                    <a asp-area="Admin" asp-controller="Event" asp-action="Index" class="btn btn-outline-dark">Cancel</a>
                </form>
                
            </div>
        </div>
    </div>
</div>