@model Event
@{
    ViewData["Title"] = ViewBag.Action + " Event";
    ViewData["Title2"] = "Admin";
    Layout = "_AdminLayout";
}

<head>
    <script type="text/javascript" src="~/js/UserValidation.js"></script>
</head>
<div class="container">
    <div class="card-header-pills"><h1 class="far fa-calendar-alt"> @ViewData["Title"]</h1></div>
    <div class="row" >
        <div class="card w-auto">
            <div class="card-body">
                <div asp-validation-summary="All" class="text-danger" style="font-size:small;"></div>
                <form method="post" asp-action="EditEvent">
                    <div class="row form-group justify-content-start">
                        <!--EVENT NAME-->
                        <div class="col-auto"><label>Event Name</label></div>
                        <div class="col-12">
                            <span asp-validation-for="EventName" class="text-danger" style="font-size:small;"></span>
                            <input asp-for="EventName" class="form-control" />
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="row justify-content-between">
                        <div class="form-group">
                            <!--START DATE-->
                            <div class="col"><label>Start Date</label></div>
                            <div class="col">
                                <span asp-validation-for="EventStartDate" class="text-danger" style="font-size:small;"></span>
                                <input asp-for="EventStartDate" class="form-control date" />
                            </div>
                        </div>
                        <div class="form-group">
                            <!--END DATE-->
                            <div class="col"><label>End Date</label></div>
                            <div class="col">
                                <span asp-validation-for="EventEndDate" class="text-danger" style="font-size:small;"></span>
                                <input asp-for="EventEndDate" class="form-control date" />
                            </div>
                        </div>
                    </div>
                    <div class="row form-group justify-content-start">
                        <!--Event Description-->
                        <div class="col"><label>Event Description</label></div>
                        <div class="col-12">
                            <span asp-validation-for="EventDescription" class="text-danger" style="font-size:small;"></span>
                            <textarea asp-for="EventDescription" class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                    <h4>Event Address</h4>
                    <div class="dropdown-divider"></div>
                    <div class="form-group justify-content-start">

                        <div class="row form-group">

                            <!--Event Address 1-->
                            <div class="col-auto"><label>Address 1</label></div>
                            <div class="col-4">
                                <span asp-validation-for="EventAddr1" class="text-danger" style="font-size:small;"></span>
                                <input asp-for="EventAddr1" class="form-control" />
                            </div>

                            <!--Event Address 2-->
                            <div class="col-auto"><label>Address 2</label></div>
                            <div class="col-4">
                                <span asp-validation-for="EventAddr2" class="text-danger" style="font-size:small;"></span>
                                <input asp-for="EventAddr2" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group justify-content-start">
                        <div class="row form-group">
                            <!--Event City-->
                            <div class="col-auto"><label>City</label></div>
                            <div class="col-3">
                                <span asp-validation-for="EventCity" class="text-danger" style="font-size:small;"></span>
                                <input asp-for="EventCity" class="form-control" />
                            </div>

                            <!--Event State-->
                            <div class="col-auto"><label>State</label></div>
                            <div class="col-3">
                                <span asp-validation-for="EventState" class="text-danger" style="font-size:small;"></span>
                                <select asp-for="EventState" class="form-control">
                                    <option></option>
                                    <option value="Alaska">Alaska</option>
                                    <option value="Alabama">Alabama</option>
                                    <option value="Arkansas">Arkansas</option>
                                    <option value="Arizona">Arizona</option>
                                    <option value="California">California</option>
                                    <option value="Colorado">Colorado</option>
                                    <option value="Connecticut">Connecticut</option>
                                    <option value="District of Columbia">District of Columbia</option>
                                    <option value="Delaware">Delaware</option>
                                    <option value="Florida">Florida</option>
                                    <option value="Georgia">Georgia</option>
                                    <option value="Hawaii">Hawaii</option>
                                    <option value="Iowa">Iowa</option>
                                    <option value="Idaho">Idaho</option>
                                    <option value="Illinois">Illinois</option>
                                    <option value="Indiana">Indiana</option>
                                    <option value="Kansas">Kansas</option>
                                    <option value="Kentucky">Kentucky</option>
                                    <option value="Louisiana">Louisiana</option>
                                    <option value="Massachusetts">Massachusetts</option>
                                    <option value="Maryland">Maryland</option>
                                    <option value="Maine">Maine</option>
                                    <option value="Michigan">Michigan</option>
                                    <option value="Michigan">Minnesota</option>
                                    <option value="Missouri">Missouri</option>
                                    <option value="Mississippi">Mississippi</option>
                                    <option value="Montana">Montana</option>
                                    <option value="North Carolina">North Carolina</option>
                                    <option value="North Dakota">North Dakota</option>
                                    <option value="Nebraska">Nebraska</option>
                                    <option value="New Hampshire">New Hampshire</option>
                                    <option value="New Jersey">New Jersey</option>
                                    <option value="New Mexico">New Mexico</option>
                                    <option value="Nevada">Nevada</option>
                                    <option value="New York">New York</option>
                                    <option value="Ohio">Ohio</option>
                                    <option value="Oklahoma">Oklahoma</option>
                                    <option value="Oregon">Oregon</option>
                                    <option value="Pennsylvania">Pennsylvania</option>
                                    <option value="Puerto Rico">Puerto Rico</option>
                                    <option value="Rhode Island">Rhode Island</option>
                                    <option value="South Carolina">South Carolina</option>
                                    <option value="South Dakota">South Dakota</option>
                                    <option value="Tennessee">Tennessee</option>
                                    <option value="Texas">Texas</option>
                                    <option value="Utah">Utah</option>
                                    <option value="Virginia">Virginia</option>
                                    <option value="Vermont">Vermont</option>
                                    <option value="Washington">Washington</option>
                                    <option value="Wisconsin">Wisconsin</option>
                                    <option value="West Virginia">West Virginia</option>
                                    <option value="Wyoming">Wyoming</option>
                                </select>
                            </div>

                            <!--Event Address-->
                            <div class="col-auto"><label>Postal Code</label></div>
                            <div class="col-2">
                                <span asp-validation-for="EventPostalCode" class="text-danger" style="font-size:small;"></span>
                                <input id="postalcode" asp-for="EventPostalCode" type="text" class="form-control" oninput="postalcode_format(this)" />
                            </div>
                        </div>
                    </div>
                    <input type="hidden" asp-for="EventID" />
                    <button type="submit" class="btn btn-dark">Submit</button>
                    <a asp-area="Admin" asp-controller="Event" asp-action="Index" class="btn btn-danger">Cancel</a>
                </form>
            </div>
        </div>
    </div>
    @if (ViewBag.Action.Equals("Add"))
    {
        <script>
            var dateInput = document.getElementsByClassName("date");
            for (var i = 0; i < dateInput.length; i++) {
                dateInput[i].setAttribute("value", "");
            }
            document.getElementById("postalcode").value = "";
        </script>
    }
    
</div>