@model User
@{
    ViewData["Title"] = "Add User";
    Layout = "_AdminLayout";
}

<div class="container">
    <form>
        <div class="row justify-content-md-center">
            <div class="card w-50">
                <div class="card-header"><h1>User Contact Information</h1></div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-3">First Name</label>
                        <div class="col"><input class="form-control"/></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="card w-50">
                <div class="card-header"><h1>User Role</h1></div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-3">First Name</label>
                        <div class="col"><input class="form-control" /></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="card w-50">
                <div class="card-header"><h1>Committee</h1></div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-3">First Name</label>
                        <div class="col"><input class="form-control" /></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>