@model List<User>
@{
    ViewData["Title"] = "Users";
    Layout = "_AdminLayout";
    int userCount = 1;
}

<div class="container">
    <div class="container">
        <div class="card-header-pills"><h1 class="fas fa-user"> Users</h1></div>
        <a button class="btn btn-outline-dark" asp-area="Admin" asp-controller="User" asp-action="AddUser">Add User</a>
    </div>
    <br />
    <div class="container" style="font-size:medium;">
        <dvi class="card">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Email Address</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (User user in Model)
                    {
                        <tr>
                            <th scope="row">@userCount</th>
                            <th>@user.UserFirstName</th>
                            <th>@user.UserLastName</th>
                            <th>@user.Email</th>
                            <th>
                                <div class="row ">
                                    <button class="btn btn-outline-dark mr-1">Edit</button>
                                    <button class="btn btn-dark">Delete</button>

                                </div>
                            </th>
                        </tr>
                        userCount += 1;
                    }
                </tbody>
            </table>
        </dvi>
    </div>
</div>