
@{ 
    ViewData["Title"] = "Main Dashboard";
    ViewData["Title2"] = "User";
    Layout = "_UsersLayout";
}

<div class="container">
    <div class="card-header">
        <h1> Welcome</h1>
    </div>
    <br />
</div>