@Model
@{
    ViewData["Title"] = "Main Dashboard";
    Layout = "_AdminLayout";
}

<div class="container">
    <div class="card-header">
        <h1> Welcome Employee</h1>
    </div>
    <br />
    
</div>