@{
    ViewData["Title"] = "Dashboard Page";
    Layout = "_AdminLayout";
}

<div class="text-center">
    <p>admin's home page</p>
    <p>This will be the admin's dashboard containing a list of calendar events, funraising info, and employees list. </p>
</div>
